In [52]:
import numpy as np
import pandas as pd
import scipy.spatial as sp
import sklearn.feature_extraction as fext
import matplotlib.pyplot as plt
%matplotlib inline

In [101]:
text = ["wookie stormtrooper",
        "wookie wookie wookie stormtrooper stormtrooper stormtrooper",
        "harry potter"]

In [6]:
df = pd.DataFrame(np.array(["wookie stormtrooper",
        "wookie wookie wookie stormtrooper stormtrooper stormtrooper",
        "harry potter"]).reshape(-1, 1), columns = ['text'])

In [7]:
df

                                                text
0                                wookie stormtrooper
1  wookie wookie wookie stormtrooper stormtrooper...
2                                       harry potter

In [15]:
li = []
for item in text:
    words = item.split(" ")
    for word in words:
        li.append(word)
print(li)

['wookie', 'stormtrooper', 'wookie', 'wookie', 'wookie', 'stormtrooper', 'stormtrooper', 'stormtrooper', 'harry', 'potter']

In [16]:
words_set = set(li)

In [17]:
words_set

{'harry', 'potter', 'stormtrooper', 'wookie'}

In [39]:
df['harry'] = pd.Series([0, 0, 1])
df['potter'] = pd.Series([0, 0, 1])
df['stormtrooper'] = pd.Series([1, 3, 0])
df['wookie'] = pd.Series([1, 3, 0])
#del df["text"]
df

   harry  potter  stormtrooper  wookie  mean
0      0       0             1       1   0.0
1      0       0             3       3   0.0
2      1       1             0       0   0.0

In [25]:
dist01_eu = np.linalg.norm(df.iloc[1] - df.iloc[0])
dist02_eu = np.linalg.norm(df.iloc[0] - df.iloc[2])
dist12_eu = np.linalg.norm(df.iloc[1] - df.iloc[2])
print(dist01_eu, dist02_eu, dist12_eu)

2.82842712475 2.0 4.472135955

In [33]:
dist01_cos = sp.distance.cosine(df.iloc[1], df.iloc[0])
dist02_cos = sp.distance.cosine(df.iloc[0], df.iloc[2])
dist12_cos = sp.distance.cosine(df.iloc[1], df.iloc[2])
print(dist01_cos, dist02_cos, dist12_cos)

0.0 1.0 1.0

In [40]:
df["mean"] = (df["harry"] + df["potter"] + df["stormtrooper"] + df["wookie"]) / 4
df

   harry  potter  stormtrooper  wookie  mean
0      0       0             1       1   0.5
1      0       0             3       3   1.5
2      1       1             0       0   0.5

In [41]:
df["harry"] = df["harry"] - df["mean"]
df["potter"] = df["potter"] - df["mean"]
df["stormtrooper"] = df["stormtrooper"] - df["mean"]
df["wookie"] = df["wookie"] - df["mean"]
df

   harry  potter  stormtrooper  wookie  mean
0   -0.5    -0.5           0.5     0.5   0.5
1   -1.5    -1.5           1.5     1.5   1.5
2    0.5     0.5          -0.5    -0.5   0.5

In [42]:
dist01_cossim = 1 - sp.distance.cosine(df.iloc[1], df.iloc[0])
dist02_cossim = 1 - sp.distance.cosine(df.iloc[0], df.iloc[2])
dist12_cossim = 1 - sp.distance.cosine(df.iloc[1], df.iloc[2])
print(dist01_cossim, dist02_cossim, dist12_cossim)

1.0 -0.6 -0.6

In [50]:
dist01_corr = np.corrcoef(df.iloc[1], df.iloc[0])[0][1]
dist02_corr = np.corrcoef(df.iloc[2], df.iloc[0])[0][1]
dist12_corr = np.corrcoef(df.iloc[1], df.iloc[2])[0][1]
print(dist01_corr, dist02_corr, dist12_corr)

1.0 -0.666666666667 -0.666666666667

In [ ]:
# PART II

In [61]:
text= ['It was the best of times, it was the worst of times.',
'My name is Inigo Montoya. You killed my father. Prepare to die.',
'Too weird to live, too rare to die!']

In [102]:
model = fext.text.CountVectorizer()
transformed_text = model.fit_transform(text)
print(transformed_text)

  (0, 2)	1
  (0, 3)	1
  (1, 2)	3
  (1, 3)	3
  (2, 1)	1
  (2, 0)	1

In [103]:
cols = sorted(list(model.vocabulary_.keys()))
dense_matrix = pd.DataFrame(transformed_text.A, columns = cols)
dense_matrix

   harry  potter  stormtrooper  wookie
0      0       0             1       1
1      0       0             3       3
2      1       1             0       0