In [113]:
import numpy as np
import pandas as pd
from PIL import Image
from resizeimage import resizeimage
import pickle
import re
import os
import flask
import json
from scipy.misc import imread
from keras.models import load_model
pd.options.display.max_rows = 999

In [114]:
rootpath = "../../egypt/EgyptianHieroglyphDataset/MyTrainTest"
original_dim = (75, 50)
batch_size = 32 # need to be exactly the same as training

In [115]:
tr_rootpath = os.path.join(rootpath, "train")
symbol_df = [x for x in os.listdir(tr_rootpath) if re.search(r"UNKNOWN|^\.", x) == None]
symbol_df += ['M20'] # manual fix
symbol_df = pd.DataFrame(sorted(symbol_df))
symbol_df.reset_index(inplace = True)
symbol_df.columns = ["symbol_num", "symbol"]
symbol_df.tail(1)

     symbol_num symbol
170         170     Z7

In [116]:
try:
    with open("../models/translate.h5", "rb") as picklefile:
        lexicon = pickle.load(picklefile)
except:
    "Need to run get translation.ipynb!"
lexicon.tail(1)

     symbol phonetic                   translation  freq freq_cat
6626    O17    tAyty  the shrouded one (of Osiris)   0.0     Rare

### merge dict with translation

In [117]:
symbol_df = symbol_df.merge(lexicon, on = "symbol", how = "left")
print(symbol_df.shape)
# symbol_df["freq_cat"].value_counts()
symbol_df.tail(1)

(231, 6)

     symbol_num symbol phonetic   translation    freq     freq_cat
230         170     Z7        W  same as G43*  1051.0  Very common

### manually clean with dups 
Note: need much more domain knowledge to do this right, right now it's just a working version  
Also, there are symbols that only appear along with others. I am excluding them here for simplicity

In [118]:
ct = pd.DataFrame(symbol_df["symbol"].value_counts())
ct.reset_index(inplace = True)
ct.columns = ["symbol", "n_dup"]
dup_cond = ct["n_dup"] != 1
dup = ct[dup_cond]
print(dup.shape[0], "symbols duplicated")
dup = dup.merge(lexicon, how = "left", on = "symbol")
# dup

40 symbols duplicated

In [119]:
cond = symbol_df["symbol"].map(lambda x: x in list(ct.loc[~dup_cond, "symbol"]) )
single_rec = symbol_df[cond]
del single_rec["symbol_num"], single_rec["freq"]

In [120]:
dedup_rec = pd.read_csv("../models/clean translation.csv")
del dedup_rec["pick_me"]

In [121]:
final_dict = single_rec.append(dedup_rec)
final_dict = symbol_df[["symbol_num", "symbol"]].drop_duplicates().merge(final_dict, how = "right", on = "symbol")
final_dict.reset_index(drop = True, inplace = True)
final_dict.sort_values("symbol_num", inplace = True)
print(final_dict.shape)
final_dict.tail(1)

(171, 5)

     symbol_num symbol phonetic translation     freq_cat
170         170     Z7        W         not  Very common

### pickle dict

In [122]:
with open("../models/dict.pkl", "wb") as pfile:
    pickle.dump(final_dict, pfile)